vvcard/obj/Release/
vvcard/bin/
vvcard/obj/Debug/net5.0/vvcard.Views.pdb
vvcard/obj/
vvcard.sln
.vs/vvcard/v16/TestStore/0/testlog.manifest
vvcard/Properties/serviceDependencies.local.json.user
vvcard/Properties/serviceDependencies.local.json
vvcard/Properties/serviceDependencies.json
vvcard/ScaffoldingReadMe.txt
vvcard/Properties/launchSettings.json
vvcard/Properties/PublishProfiles/IISProfile.pubxml.user
vvcard/Properties/PublishProfiles/IISProfile.pubxml
vvcard/.config/dotnet-tools.json
vvcard/appsettings.json
vvcard/appsettings.Development.json
.vs/vvcard/config/applicationhost.config
vvcard/Migrations/ApplicationContextModelSnapshot.cs
.vs/vvcard/v16/TestStore/0/082.testlog
.vs/vvcard/v16/.suo
.vs/vvcard/DesignTimeBuild/.dtbcache.v2
vvcard/Migrations/*
vvcard/Migrations/20220522101139_init.cs
