@{
    ViewData["Title"] = "VVCard - Что то пошло не так, нам жаль. Правда!";
}
<h1>Что то пошло не так, нам жаль. Правда!</h1>

<h2>Произошла ошибка, сообщение уже отправлено администратору.</h2>

<h2>Попробуйте совершить действие еще раз, возможна ошибка не повториться.</h2>
