@{
    ViewData["Title"] = "VVCard.ru - О сайте";
}
<h2>Как использовать визитку на сайте?</h2>
<h3>Как агрегатор ссылок!</h3>
Подходит для использования как физическими, так и юридическими лицами, будет удобен для блогеров ведущих больше одной социальной сети.
<br />
<br />
<h3>Как виртуальная визитка в дополнение к физической!</h3>
На физической визитной карте размещается QR Code которые ведет на вашу визитную карту онлайн, получателю карты не нужно вводить информацию с карты руками в телефон, достаточно просто отсканировать QR Code.
<br />
<br />

<h4>Использования сайта как агрегатор ссылок:</h4>
У меня есть несколько социальных сетей которые я веду: vkontakte, instagram, youtube. twitch, linkedin и другие.
<br />
<br />
Мой VK - <a href="https://vk.com/juice4photo">https://vk.com/juice4photo</a>
<br />
Мой Instagram - <a href="https://www.instagram.com/juice4photo">https://www.instagram.com/juice4photo</a>
<br />
Мой Youtube - <a href="https://www.youtube.com/channel/UC3USRCjvZDU1FfCvoAjwJpA">https://www.youtube.com/channel/UC3USRCjvZDU1FfCvoAjwJpA</a>
<br />
Мой LinkedIn <a href="https://www.linkedin.com/in/sergey-shchukin-386945216">https://www.linkedin.com/in/sergey-shchukin-386945216</a>
<br />
Давайте представим что у меня есть еще резервный каналы в инстаграме и канал для повседневных видосов “Daily”, канал в телеграмме и тиктоке… Достаточно большой объем ссылок для подписи под видео.
<br />
Допустим я хочу поделиться своими социальными сетями в instagram, но поле для ввода сайта только одно, а вставлять ссылки в поле "О себе" просто не рационально.
<br />
Даже если место для ввода данных достаточно, как например на ютубе, намного красивее и лаконичней выглядит одна ссылка на соцсети и другие каналы.
<br />
Еще один плюс — это гибкая настройка и возможность держать все ссылки в одном месте. Допустим у вас есть ютуб канал и вы выкладываете одно видео в неделю, за год это примерно 52 видео.
И вдруг появляется новая соцсеть(как появился тикток) или вы решили вести телеграмм канал, или завести еще один ютуб канал.
Теперь вам нужно изменить данные в 52 местах. А если вы ведете канал не год, а пять лет..?
<br />
<br />
Чтобы решить эту проблему есть сайт агрегатор ссылок <a href="https://vvcard.ru">vvcard.ru</a>. в нем можно создать свою онлайн визитку с любым количеством ссылок, номеров телефонов, и прочей информацией.
<br />
- Делиться всего одной ссылкой на все социальные сети.
<br />
- Поддерживать актуальность всех ссылок в одном месте.
<br />
- Вместо каши из нескольких ссылок получить одну красивую например: "Мои социальные сети <a href="https://vvcard.ru/SLAYER">https://vvcard.ru/SLAYER</a>
<br />
<br />

<h4>Использования сайта как дополнение к физической визитной карте:</h4>
Если вы используете визитки в реальном мире для вас будет удобна возможность создания QR Code с адресом вашей визитки.
<br />
Во первых визитка с QR кодом это стильно.
<br />
Во вторых если вам нужно будет разместить адрес своего ютуб канала на визитке, вряд ли кто то будет вбивать это в браузер "https://www.youtube.com/channel/UC3USRCjvZDU1FfCvoAjwJpA"
<br />
Сейчас время ленивых только самые мотивированные клиенты будут переписывать адрес с строку браузера, а отсканировав код с визитки пользователь сразу увидит все ваши социальные сети или другую важную информацию.
<br />
QR Code генерируется автоматически сразу после создания визитки и доступен после регистрации в разделе "<a href="https://vvcard.ru/Card/ShowPersonalCard">"Мои визитки"</a>.
<br />
<br />
<br />
<h4>Какие бывают ссылки?</h4>
На сайте <a href="https://vvcard.ru">vvcard.ru</a> существуют два типа ссылок:
<br />
Постоянные формата: <a href="https://vvcard.ru/2">vvcard.ru/2</a> где "2" - уникальный номер выдается при создании визитки и не меняется со временем, именно на его основе генерируется QR code.
<br />
Пользовательский адрес формата: <a href="https://vvcard.ru/SLAYER">vvcard.ru/SLAYER</a> где "SLAYER" - уникальный адрес задается самим пользователем и может быть изменен в любое время.
<br />
<br />

<h5>И самое главное это бесплатно, удобно, красиво! <a href="https://vvcard.ru/Card/ShowPersonalCard">Создай свою визитку <br /><br /> </a> </h5>

