@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Восстановление забытого пароля";
}

<h1>@ViewData["Title"]</h1>
<p>
    Проверьте свою электронную почту, чтобы сбросить пароль
</p>

