@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Подтверждение сброса пароля";
}

<h1>@ViewData["Title"]</h1>
<p>
    Ваш пароль был сброшен. <a asp-page="./Login">Нажмите для авторизации</a>.
</p>
